*{
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(250, 250, 250);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}
.icon-button {
    height: 0;
    width: 0;
    padding: 25px;
    border-radius: 50px;
    background-color: rgba(200, 200, 200, 0);
    outline: none;
    border: none;
    transition: 150ms ease;
}
.icon-button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}
.icon-button span{
    position: absolute;
    left: 12.5px;
    top: 12.5px;
}
#home {
    position: absolute;
    left: 25px;
}
#light-mode {
    position: absolute;
    right: 25px;
}
#dark-mode {
    position: absolute;
    right: 25px;
}
.search {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
    left: 100px;
    right: 100px;
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
    transition: 150ms ease;
}
.search:hover {
    background-color: rgb(220, 220, 220);
}
.search input {
    font-size: 20px;
    margin-left: 25px;
    height: 50px;
    width: 85vw;
    font-family: "Lexend", sans-serif;
    color: rgb(50, 50, 50);
    outline: none;
    border: none;
    background: none;
}
#search{
    position: absolute;
    right: 0px;
}

main {
    width: 100%;
}
main p {
    height: 80px;
}
.display {
    display: flex;
}
aside {
    width: 10vw;
    background-color: rgb(235, 245, 255);
}
.photos {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(4, 25%);
}
.openModalBtn {
    border-radius: 50px;
    margin: 5%;
    width: 90%;
    height: 90%;
    background-color: none;
    border: none;
    transition: 150ms ease;
}
.openModalBtn:hover {
    margin: 2.5%;
    width: 95%;
    height: 95%;
}
.preview {
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgb(215, 235, 255);
    height: 80px;
}