:root{
    --header-background-color: #7296a4;
    --header-button-color: #7296a4;
    --header-button-hover-color: #62869c;
    --search-color: #efefef;
    --search-hover-color: #e5e5e5;

    --main-background-color: #efefef;
    --aside-background-color: #9ebecb;
    --button-color: #efefef;
    --button-border-color: #7296a4;
    --button-hover-color: #e5e5e5;
    --button-select-color: #9ebecb;
    --button-select-hover-color: #7296a4;

    --footer-background-color: #7296a4;

    --main-theme-color: rgb(215, 235, 255);
    --hover-theme-color: rgb(205, 225, 245);
    --background-text-gray: rgb(60, 60, 60);
    --search-text-gray: rgb(40, 40, 40);
}
*{
    padding: 0;
    margin: 0;
}



header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: var(--header-background-color);
    z-index: 2;
}
.icon-button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: var(--header-button-color);
    border: none;
    transition: 150ms ease;
}
.icon-button:hover {
    background-color: var(--header-button-hover-color);
}
.icon-button span{
    position: absolute;
    left: 12.5px;
    top: 12.5px;
}
#home {
    position: absolute;
    left: 25px;
}
#light-mode {
    position: absolute;
    right: 25px;
}
#dark-mode {
    position: absolute;
    right: 25px;
}
.search {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
    left: 100px;
    right: 100px;
    border-radius: 50px;
    background-color: var(--search-color);
    transition: 150ms ease;
}
.search:hover {
    background-color: var(--search-hover-color);
}
.search input {
    font-size: 20px;
    margin-left: 25px;
    height: 50px;
    width: 85vw;
    font-family: "Lexend", sans-serif;
    color: var(--search-text-color);
    outline: none;
    border: none;
    background: none;
}
#search{
    position: absolute;
    right: 0px;
    background: none;
}



main {
    width: 100%;
    background-color: var(--main-background-color);
}
.space {
    height: 80px;
}
.content {
    display: flex;
}

.aside {
    width: 100px;
    flex-shrink: 0;
    background-color: var(--aside-background-color);
}
.dropdown {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.dropdown-button {
    position: absolute;
    width: 90px;
    height: 50px;
    margin: 5px;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--button-border-color);
    background-color: var(--button-color);
    color: var(--background-text-color);
    font-size: 20px;
    z-index: 1;
    transition: 150ms ease;
}
.dropdown-button:hover {
    background-color: var(--button-hover-color);
}
.dropdown-list {
    position: absolute;
    left: 0;
    margin: 5px;
    transition: 150ms ease;
}
.dropdown-option {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--button-border-color);
    background-color: var(--button-color);
    font-size: 20px;
    transition: 150ms ease;
    z-index: 0;
}
.dropdown-option:hover {
    background-color: var(--button-hover-color);
}
.select {
    background-color: var(--button-select-color);
    border: none;
    color: var(--main-background-color);
}
.select:hover {
    background-color: var(--button-select-hover-color);
}
#character {
    top:60px;
}


.display {
    width:auto;
}
.page-display {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.switch-page {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--button-border-color);
    background-color: var(--button-color);
    transition: 150ms ease;
}
.switch-page:hover {
    background-color: var(--button-hover-color);
}
.pages {
    width: 90px;
    height: 50px;
    margin: 5px;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--button-border-color);
    background-color: var(--button-color);
    color: var(--background-text-color);
    font-size: 20px;
    transition: 150ms ease;
}

.photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.openModalBtn {
    border-radius: 25px;
    margin: 5%;
    width: 90%;
    height: 90%;
    background-color: none;
    border: none;
    transition: 150ms ease;
}
.openModalBtn:hover {
    margin: 2.5%;
    width: 95%;
    height: 95%;
}
.preview {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.item-modal {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #efefef;
    align-content: center;
}

footer {
    background-color: var(--footer-background-color);
    height: 250px;
}