*{
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(250, 250, 250);
    height: 145px;
    width: 100%;
    position: fixed;
}
.slot {
    height: 80px;
    display: flex;
    align-items: center;
}
.icon-button {
    height: 0;
    width: 0;
    padding: 25px;
    border-radius: 50px;
    background-color: rgba(200, 200, 200, 0);
    outline: none;
    border: none;
}
.icon-button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}
#home {
    position: absolute;
    left: 25px;
}
#light-mode {
    position: absolute;
    right: 25px;
}
#dark-mode {
    position: absolute;
    right: 25px;
}
.icon-button span{
    position: absolute;
    left: 12.5px;
    top: 12.5px;
}
.search {
    position: absolute;
    display: flex;
    align-items: center;
    height: 0;
    width: auto;
    left: 100px;
    right: 100px;
    padding: 25px;
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
}
.search:hover {
    background-color: rgb(220, 220, 220);
}
.search input {
    font-size: 20px;
    margin-left: 25px;
    height: 50px;
    width: 85vw;
    font-family: "Lexend", sans-serif;
    color: rgb(50, 50, 50);
    outline: none;
    border: none;
    background: none;
}
#search{
    position: absolute;
    right: 0px;
}

.filter {
    position: absolute;
    display: flex;
    align-items: center;
    height: 80;
    top: 45px;
}
.font-button {
    font-size: 19px;
    padding: 13px 20px;
    border-radius: 50px;
    outline: none;
}
.dropdown-menu {
    position: absolute;
    left: 25px;
    top: 80px;
}
.dropdown-menu button {
    color: rgb(50, 50, 50);
    background-color: rgb(250, 250, 250);
    border-color: rgb(50, 50, 50);
}
.dropdown-menu button:hover {
    background-color: rgb(230, 230, 230);
}
.dropdown-menu-option {
    position: absolute;
}
.dropdown-menu-option button{
    margin-top: 25px;
    margin-right: 25px;
}
.tags {
    position: absolute;
    left: 150px;
    top: 80px;
}
.tags button {
    color: rgb(250, 250, 250);
    background-color: rgb(205, 230, 255);
    margin-left: 25px;
    border: none;
}
.tags button:hover {
    background-color: rgb(155, 205, 255);
}

main {
    width: 100%;
}
main p {
    height: 145px;
}
main .photos {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
}
main img {
    border-radius: 50px;
    margin: 2.5vw;
    width: 20vw;
    height: 20vw;
}

footer {
    background-color: rgb(235, 245, 255);
    height: 80px;
}